@font-face {
    font-family: 'Gyparody';
    src: url('../fonts/gyparody\ hv.ttf');
}

#profile-pic {
    /* width: 200px;
    height: 200px; */
    width: 8em;
    height: 8em;
    background: url('../images/profile.jpeg');
    background-position: 20em 27em;;
    background-size: 450px 450px;
    /* margin-right: 20px; */
}

#name {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: url('../images/chevron.png');
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.content-container {
    background: #fff;
    border: 1px solid #dddddd;
    padding-bottom: 4em;
}

#nav-container {
    margin-bottom: 3em;
}

footer{
    background: #666666;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer p {
    color: grey;
}

.container {
    padding-bottom: 5em;
}

.port-item {
    height: 200px;
    width: 250px;
    /* background: url('../images/erik-jan-leusink-IbPxGLgJiMI-unsplash.jpg'); */
    
    position: relative;
}

.swRPG {
    background: url('../images/c3po.jpg');
    background-size: cover;
}

.triviaGame {
    background: #0533cc;
    font-family: 'Gyparody';
    color: white;
}

.giphySearch {
    background: url('https://pmcvariety.files.wordpress.com/2016/10/giphy-logo-e1477932075273.png?w=867');
    background-size: cover;
    background-position: center;
}

.erik {
    background: url('../images/erik-jan-leusink-IbPxGLgJiMI-unsplash.jpg');
    background-size: cover;
    /* Photo by Erik-Jan Leusink on Unsplash */
}

.llyod {
    background: url('../images/lloyd-dirks-R1oSj2m-7Ks-unsplash.jpg');
    background-size: cover;
    /* Photo by Lloyd Dirks on Unsplash */
}

.mikhali {
    background: url('../images/mikhail-vasilyev-IFxjDdqK_0U-unsplash.jpg');
    background-size: cover;
    /* Photo by Mikhail Vasilyev on Unsplash */
}

.port-item p {
    position: absolute;
    background: #4aaaa5;
    padding: 10px 0px;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}

#contact-header {
    border-bottom: 1px solid black;
}

.contact-input {
    padding: 10px;
    padding-right: 0px;
    width: 100%;
}

#text-area {
    width: 100%;
    height: 200px;
    border: #dfdfdf 1px solid;
}

#submit {
    background: #4aaaa5;
    padding: 10px 20px;
    color: white;
}